<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início do Questionário</title>
    <link rel="icon" type="image/png" href="/img/icon.png">
    <link rel="stylesheet" href="/css/comeco.css">

</head>

<body>
    <h1>Antes de continuar, responda ao nosso questionário</h1>
    <button id="iniciar">Iniciar</button>

    <script>
        const usuarioId = "<%= usuario_id %>";
        document.getElementById("iniciar").addEventListener("click", () => {
            window.location.href = `/questionario/pergunta1.html?usuario_id=${usuarioId}`;
        });
    </script>
</body>

</html>