<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Girlslly</title>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  
  <link rel="icon" type="image/png" href="/img/icon.png">
</head>

<body>
  <header>
    <div class="logo">
      <img src="/img/logo.png" alt="Logo GIRLSSLY" />
    </div>
    <nav>
      <ul>
        <li><a href="#sobre">Sobre nós</a></li>
        <li><a href="#recursos">Recursos</a></li>
        <li><a href="#contato">Contato</a></li>
      </ul>
    </nav>
    <a href="/login" class="btn-login">Entrar</a>
  </header>

  <section id="sobre" class="home-container">

    <div class="home-text">
        <h1> Descubra o Girlslly!</h1>
        <p>Com o Girlslly, você organiza seu calendário menstrual, registra sintomas e medicamentos, e recebe
          informações úteis para entender melhor o seu corpo.</p>
        <a href="/registro" class="btn-primary">CADASTRE-SE</a>
      </div>

      <!-- <img src="/img/image.png" alt="Imagem" class="imagem"> -->
       <div class="circulo"></div>


      <img src="/img/calendario.png" alt="calendario" class="calendario">

  </section>

  <div class="espaco"></div>
  <section id="recursos" class="recursos">
    <h2>Recursos</h2>


    <div class="card" id="card">
      <div>
        <img src="/img/calendarioicon.png" draggable="false" alt="Calendário">
        <h3>Previsão de menstruação</h3>
        <p>O app estima suas próximas datas com base nos registros do ciclo.</p>
      </div>

      <div>
        <img src="/img/sintomas.png" draggable="false" alt="Sintomas">
        <h3>Registro de sintomas</h3>
        <p>Humor, energia, dor, sono, peso, ingestão de água, atividade sexual, entre outros.</p>
      </div>

      <div>
        <img src="/img/alerta.png" draggable="false" alt="Lembretes">
        <h3>Lembretes personalizados</h3>
        <p>Para menstruação, ovulação, anticoncepcional ou hábitos diários.</p>
      </div>

      <div>
        <img src="/img/livros.png" draggable="false" alt="Biblioteca">
        <h3>Biblioteca de saúde</h3>
        <p>Artigos sobre ciclo, fertilidade, gravidez, perimenopausa e bem-estar.</p>
      </div>

    </div>
  </section>


  <div class="espaco"></div>
  <footer id="contato">


    <div class="logo_rodape">
      <img src="/img/footer.png" alt="Logo GIRLSSLY" />
    </div>
    <div class="rodape_contato">
      <h3>Entre em contato</h3>
      <p><i class="fa-solid fa-envelope"></i> Girlslly.womans.world@gmail.com</p>
      <p><i class="fa-solid fa-phone"></i> 11 99999-9999</p>
      <p><i class="fas fa-headset"></i> SAC</p>

    </div>
    <div class="rodape_rede">
      <h3>Redes sociais</h3>
      <div class="bolas">
        <a href="https://facebook.com" class="bola"><i class="fab fa-facebook-f fa-lg"></i></a>
        <a href="https://www.instagram.com/girlslly.world?igsh=MWZmbmM2dWZ6bnVsbQ==&utm_source=ig_contact_invite"
          class="bola"><i class="fab fa-instagram fa-lg"></i></a>
        <a href="https://github.com/TccGirlss/TccGirlss.github.io" class="bola"><i
            class="fa-brands fa-github fa-lg"></i></a>
      </div>
    </div>
  </footer>

</body>

</html>