<% if (mensagem) { %>
  <div class="mensagem sucesso"><%= mensagem %></div>
<% } %>

<% if (erro) { %>
  <div class="mensagem erro"><%= erro %></div>
<% } %>

<% if (aviso) { %>
  <div class="mensagem aviso"><%= aviso %></div>
<% } %>
